app/ln/customer/node_modules
app/ln/grocery-shop/node_modules
app/plasma/customer/node_modules
app/plasma/grocery-shop/node_modules
app/rollups/customer/node_modules
app/rollups/grocery-shop/node_modules
app/ropsten/customer/node_modules
app/ropsten/grocery-shop/node_modules
app/plasma/customer/private_keys
app/plasma/grocery-shop/public_addresses
app/plasma/customer/private_keys.old
app/plasma/grocery-shop/public_addresses.old
app/rollups/customer/private_keys
app/rollups/grocery-shop/public_addresses
app/rollups/customer/private_keys.old
app/rollups/grocery-shop/public_addresses.old
app/ropsten/customer/private_keys
app/ropsten/grocery-shop/public_addresses
app/ropsten/customer/private_keys.old
app/ropsten/grocery-shop/public_addresses.old
